.lmj-categories {
	display: flex;
	padding-top: 30px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.lmj-categories select{
	margin-left: 10px;
	height: fit-content;
}

.lmj-categories-select {
	margin-right: 15px;
}